doctype html
html
  head
    title Reset Your Password
  body
    h1 Hello #{name}
    p You requested to reset your password. Use the code below to reset it:
    p
      strong Reset Code: #{resetCode}
    p This code is valid for the next 10 minutes.
